flows.json
[{"id":"d2baef38.e954e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b84373fb.cae62","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bbdcae62.180c1","type":"ui_group","z":"","name":"Bot","tab":"b84373fb.cae62","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2a96bf0.6ad148","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ebbce39.74d18","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4923dfc3.02981","type":"ui_group","z":"","name":"Login form","tab":"6ebbce39.74d18","order":1,"disp":true,"width":"6","collapse":false},{"id":"6904210f.b5e57","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6f329941.4a1fa8","type":"ui_group","z":"","name":"Registration form","tab":"6904210f.b5e57","order":1,"disp":true,"width":"6","collapse":false},{"id":"b62a5c48.4161","type":"ui_form","z":"d2baef38.e954e","name":"","label":"","group":"6f329941.4a1fa8","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":140,"wires":[["65581dd4.a041c4","1f19d1ca.12bd7e"]]},{"id":"65581dd4.a041c4","type":"debug","z":"d2baef38.e954e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":60,"wires":[]},{"id":"1f19d1ca.12bd7e","type":"function","z":"d2baef38.e954e","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["8660bcb.c21074"]]},{"id":"8660bcb.c21074","type":"cloudant out","z":"d2baef38.e954e","name":"cloudant","cloudant":"","database":"sample","service":"node-red-vlkdl-2020--cloudant-1597416102700-67649","payonly":true,"operation":"insert","x":480,"y":140,"wires":[]},{"id":"b923cb18.775d68","type":"ui_form","z":"d2baef38.e954e","name":"","label":"","group":"4923dfc3.02981","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["da601482.09aaa8"]]},{"id":"da601482.09aaa8","type":"function","z":"d2baef38.e954e","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["dcf58ecc.e016a"]]},{"id":"dcf58ecc.e016a","type":"function","z":"d2baef38.e954e","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[["f2715030.4d68a"]]},{"id":"f2715030.4d68a","type":"cloudant in","z":"d2baef38.e954e","name":"","cloudant":"","database":"sample","service":"node-red-vlkdl-2020--cloudant-1597416102700-67649","search":"_idx_","design":"user","index":"user","x":560,"y":280,"wires":[["9ba20b5e.07dad8"]]},{"id":"9ba20b5e.07dad8","type":"function","z":"d2baef38.e954e","name":"","func":"if(msg.payload[0].password===global.get('password'))\n{\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":280,"wires":[["9511d2a4.95e4f"]]},{"id":"9511d2a4.95e4f","type":"ui_text","z":"d2baef38.e954e","group":"4923dfc3.02981","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":280,"wires":[]},{"id":"b7f3846d.a9c578","type":"ui_form","z":"d2baef38.e954e","name":"","label":"","group":"bbdcae62.180c1","order":1,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["9a748f66.eb09c"]]},{"id":"9a748f66.eb09c","type":"function","z":"d2baef38.e954e","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":380,"wires":[["3741587c.b40bf8"]]},{"id":"67ceca9c.2b4be4","type":"function","z":"d2baef38.e954e","name":"","func":"\nmsg.payload=msg.payload.output.generic[0].text;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["c0a0eb56.2d4648","d9e34844.76f2a8"]]},{"id":"c0a0eb56.2d4648","type":"ui_text","z":"d2baef38.e954e","group":"bbdcae62.180c1","order":2,"width":"5","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":380,"wires":[]},{"id":"3741587c.b40bf8","type":"watson-conversation-v1","z":"d2baef38.e954e","name":"","workspaceid":"de975566-233b-4e53-8f8c-8c88dd3940aa","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7bdacf8a-0d01-4f88-86b4-73222e84bc1c","timeout":"","optout-learning":false,"x":400,"y":380,"wires":[["67ceca9c.2b4be4","82904d94.508e4"]]},{"id":"82904d94.508e4","type":"debug","z":"d2baef38.e954e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":340,"wires":[]},{"id":"d9e34844.76f2a8","type":"ui_audio","z":"d2baef38.e954e","name":"","group":"bbdcae62.180c1","voice":"hi-IN","always":"","x":760,"y":460,"wires":[]}]